@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

body {
  background-color: #191a19;
  font-family: "poppins";
  color: #f2f2f2;
}

:root {
  --primaryColor: #1e5128;
  --darkGreen: #4e9f3d;
  --green: #4e9f3d;
  --lightGreen: #d8e9a8;
  --black: #191a19;
  --white: #f2f2f2;
}

@layer components {
  .button {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      145deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);

    @apply rounded-full px-5 py-2 hover:scale-105 transition;
  }

  .shadow-custom {
    -webkit-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
  }

  .card {
    width: 300px;
    height: 370px;
    background: rgba(255, 255, 255, 0.1) 100%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    @apply rounded-xl;
  }
}
